* 
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Tienne", serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body 
{
	height: 100vh;
	width: 100vw;
	background-color: #dbdbdb;
	background-image: url("./assets/images/Hex_Back_Yellow.png");
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.dark-mode html,
.dark-mode body 
{
	background-color: #1a1a1a;
	background-image: url("./assets/images/Hex_Back_Yellow.png");
}

body 
{
	transition: background-color 0.3s, background-image 0.3s;
}

.navbar,
.header 
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	color: black;
	background-color: #f0a500;
}

.navbar h1 
{
	margin: 0;
}

.navbar ul 
{
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
}



.navbar ul li 
{
	margin-right: 20px;
}

.navbar ul li a 
{
	color: black;
	text-decoration: none;
}

.navbar ul li a:hover 
{
	text-decoration: underline;
}

.active-link 
{
	font-weight: bold;
	text-decoration: underline;
}

.active-link-logout
{
	/* font-weight: bold; */
	text-decoration: underline;
}
img 
{
	width: 5%;
}

/* margin-right: 78%; */

.form-container,
.form-container-gerenciar
{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 8% 35%;
	padding: 2%;
	background-color: #ffa500;
	width: 80%;
	max-width: 600px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.task-form 
{
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.form-row
{
	width: 100%;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	gap: 1rem;
}


.form-row-btn-gerenciar
{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: center;
}

label 
{
	display: flex;
	flex-direction: column;
	
}

input,
select,
textarea 
{
	width: 100%;
	padding: 0.5rem;
	border: none;
	margin-top: 0.5rem;
	font-size: 1rem;
}

span{
	font-size: 15px;
}

.form-task
{
	width: 100%;
}

.text-area
{
	height: 100px;
	resize: none;
}

.btn_width
{
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	align-content: center;
	justify-content: center;
	flex-wrap: wrap;
}

button 
{
	width: 100%;
	cursor: pointer;
	background-color: #000000;
	color: #dbdbdb;
	border: none;
	padding: 1.5%;
}

button:hover 
{
	background-color: #cf7500;
	color: #000000;
}

/* CONFIGURAÇÃO DO LAYOUT */
.hex_bigbox {
    display: flex;
    align-self: center;
    justify-self: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 2%;
    width: 85%;
}

.Hex_Layout_Tasks, 
.Hex_Layout_User{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-content: center;
}

.hex_wrapper {
    width: 185px;
    height: 185px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.hex_task,
.hex_user {
    width: 175px;
    height: 175px;
    background-color: #F0A500;
    color: black;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    transition: background-color 0.3s;
}

.hex_task:hover,
.hex {
    background-color: #cf7500;
}

.hex_task_content {
    text-align: center;
    font-size: 12px;
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.task_link,
.user_link {
    text-decoration: none;
    color: #333;
}

.span_nome,
.span_titulo {
    font-weight: bold;
}

.span_titulo,
.span_prazo {
    margin-top: 5px;
}

.layout_left {
    display: flex;
    align-self: center;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    justify-self: center;
    margin-left: 20px; /* Desloca as linhas ímpares */
    margin-right: 1%;
}

.layout_right {
    display: flex;
    align-self: center;
    align-items: flex-end;
    align-content: flex-end;
    justify-content: flex-end;
    justify-self: center;
    margin-right: 7px; /* Desloca as linhas pares */
    margin-left: 2.1%;
    margin-bottom: 1%;
}

@media (width: 1920px)
{
    .hex_bigbox {
        margin-left: 5.5%;
    }
}

@media (width: 1366px)
{
    .hex_bigbox {
        margin-left: 18.5%;
    }

    .hex_task {
        width: 125px;
        height: 125px;
    }

    .hex_wrapper {
        width: 135px;
        height: 135px;
    }

    .layout_left {
        margin-left: 10px; /* Desloca as linhas ímpares */
        margin-right: 1%;
    }
    
    .layout_right {
        margin-left: 2.1%;
        margin-bottom: 0.2%;
    }

    .span_nome,
    .span_titulo,
    .span_prazo {
        font-size: 12px;
    }
}